.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__logo-text {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.03em;
}

.header__burger {
}
